

  .dropdown{
    display:inline-block; 
    position:relative;
  }

  .dropdown button{
    border:none;
    color:#fff;
    transition:.3s;
    cursor:pointer;
  }
  
.dropdown:hover{
  filter:drop-shadow(0 2px 4px rgba(0,0,0,0.2));
}
  .dropdown > div{
    background-color: #12273d;
    border-radius: 25px;
    z-index:1;
    visibility:hidden;
    position:absolute;
    min-width:100%;
    opacity:0;
    transition:.3s;
  }
.dropdown .submenu{
  position:relative;
}
 .dropdown .submenu > div{
  background-color:#12273d;
  border-radius: 25px;
  visibility:hidden;
   position:absolute;
   left:100%;
   top:0;
   transition:.3s;
   opacity:0;
}
/*use the following commented class if you wanna show submenu at left*/
/*
.dropdown .submenu.atLeft > div{
  left:-100%;
}
*/
 .dropdown .submenu:hover > div{
  visibility:visible;
   opacity:1;
}

  .dropdown:hover > div{
    visibility:visible;
    opacity:1;
  }

  .dropdown li{
    display:block;
    text-decoration:none;
    padding:8px;
    color:#fff;
    transition:.1s;
    white-space:nowrap;
  }
  
  .dropdown li:hover,.dropdown .submenu:hover > li{
    background-color:#00BFFF;
    color:#fff;
  }



  