/* ===================================
========= register page  */
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 40%, #b5fffc 60%);
}

.form-container form {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  background-color: #d4efdf;
}

.form-container form .title {
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}

.form-container form input {
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
}

.form-container form button {
  border: 1px solid black;
  border-radius: 0;
  background-color: #145a32;
  color: white;
  width: 250px;
}

.form-container form button:hover {
  background: #434343a4 !important;
}

/* otp form */ 
 body.ab{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 40%, #b5fffc 60%);
}





.car {
  width: 350px;
  padding: 10px;
  border-radius: 20px;
  background: #d4efdf;
  border: none;
  position: relative;
}  
.containe {
  height: 100vh;
} 
.bt {
  display: inline-block;
  border-radius: 1px;
  background-color: #145a32;
  position: relative;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
  margin-left: 60px;
  margin-top: 40px;
}
